In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
print("Hello World")

Hello World

In [14]:
df = pd.read_excel('/Users/lamplab/Desktop/Python dissertation Sleep data (backup)/df_imputed_final (dissertation data).xlsx')

df.reset_index(drop=True, inplace=True)

df.rename({'Unnamed: 0': 'idx'}, inplace=True)

df.head()

,Unnamed: 0,subject,visit,day_of_participation,group,training_status,wurss,illness,phase,week_sync,...,nap,tst_total,net_sleep_total,net_waso,sleep_q_1,fatigue_sleep_1,sleepiness_sleep_1,fatigue_wake_1,sleepiness_wake_1,day_of_week
0,451,ORC_02,2,2,Con,Con,4.0,no,Training,1,...,0,452.992702,409.629944,43.362733,4,2,7,1,3,2.0
1,452,ORC_02,3,3,Con,Con,NaN,NaN,Training,2,...,0,452.992634,409.630132,43.362412,4,2,5,4,5,3.0
2,453,ORC_02,4,4,Con,Con,NaN,NaN,Training,2,...,1,494.000000,462.000000,32.000000,4,4,5,3,4,4.0
3,454,ORC_02,5,5,Con,Con,NaN,NaN,Training,2,...,1,468.000000,431.000000,37.000000,3,6,7,3,4,5.0
4,455,ORC_02,6,6,Con,Con,NaN,NaN,Training,2,...,0,413.000000,381.000000,32.000000,2,5,9,3,6,6.0

In [15]:
df.columns = df.columns.str.lower()

# list(df.columns)

df.drop('unnamed: 0', axis=1, inplace=True)
df.head()

,subject,visit,day_of_participation,group,training_status,wurss,illness,phase,week_sync,visit_date,...,nap,tst_total,net_sleep_total,net_waso,sleep_q_1,fatigue_sleep_1,sleepiness_sleep_1,fatigue_wake_1,sleepiness_wake_1,day_of_week
0,ORC_02,2,2,Con,Con,4.0,no,Training,1,6/23/21,...,0,452.992702,409.629944,43.362733,4,2,7,1,3,2.0
1,ORC_02,3,3,Con,Con,NaN,NaN,Training,2,6/24/21,...,0,452.992634,409.630132,43.362412,4,2,5,4,5,3.0
2,ORC_02,4,4,Con,Con,NaN,NaN,Training,2,6/25/21,...,1,494.000000,462.000000,32.000000,4,4,5,3,4,4.0
3,ORC_02,5,5,Con,Con,NaN,NaN,Training,2,6/26/21,...,1,468.000000,431.000000,37.000000,3,6,7,3,4,5.0
4,ORC_02,6,6,Con,Con,NaN,NaN,Training,2,6/27/21,...,0,413.000000,381.000000,32.000000,2,5,9,3,6,6.0